body {font-family:sans-serif; margin:0; width:100%;}
body.nowrap {white-space:nowrap;}
body.nowrap * {white-space:normal;}

h1 {font-family:serif; margin:0; font-weight:normal; margin-left:10px;}

fieldset {
	border:none; border-left:1px solid #CCC; float:left;
	padding:10px; margin:0; width:200px; min-width:0;
	position:relative;
}
	fieldset:first-of-type {border-left:none;}

	fieldset iframe, fieldset textarea {
		width:100%; height:150px; box-sizing:border-box;
		border:1px solid black; resize:none; display:block;
	}
	fieldset form {padding:5px 0 0 0;}
		fieldset form span {display:inline-block;}
		
	fieldset form #input-controls {text-align:right;}

	#output-controls {}
		#output-controls {/*line-height:1.2em;*/}
			#output-controls-markup label {display:none;}

			#output-controls-markup input {outline:none; height:1.2em;}
			
			#output-controls-markup input#break {margin:-1.2em auto 0 auto; position:relative; top:-1em; display:block;}
			#output-controls-markup hr {margin:1em 0;}

			#output-controls-markup input {border:1px solid black; min-width:20px; margin:0;}
			#output-controls-markup input, fieldset #option-proxy {font-family:monospace; font-size:100%;}

			#output-controls-buttons label {text-transform:lowercase; font-size:small;}
			#output-controls-buttons label span {display:none;}

		#output-controls #option-proxy {white-space:pre-wrap; position:absolute;}

#input-controls {text-align:right;}
	fieldset form input[type=button] {margin:0;}
